/* desktop */

@media screen and (min-width: 1500px) {
  /* 
Mobile
*/
  .mobile {
    width: 1500px;
    height: 100vh;
  }

  /* 
Status Bar
*/
  .status-bar {
    display: none;
  }

  /* 
HEADER 
*/
  .header {
    width: 1500px;
    height: 80px;
    top: 0px;
  }

  .titulo {
    left: 260px;
    top: 19px;
    line-height: 24px;
    display: flex;
    align-items: center;
  }

  .logo {
    width: 40px;
    height: 36.84px;
    left: 200px;
    top: 22px;
  }

  /*
NAVIGATION
*/
  .navigation {
    width: 350px;
    height: 40px;
    left: -28px;
    top: 20px;
    background: #ffffff;
  }

  .hamburguer,
  .hamburguer-imagem,
  .vector-x {
    visibility: hidden;
    filter: none;
  }

  .hamburguer {
    left: 951px;
    top: 0px;
  }

  /* 
MAIN 
*/
  /* Main (acima) */
  .form-transacao {
    position: absolute;
    width: 400px;
    height: 344px;
    left: 200px;
    top: 110px;
  }

  /* 
Main (abaixo) 
*/
  .account-statement {
    width: 680px;
    left: 620px;
    top: 110px;
  }

  /* 
FOOTER 
*/
  footer {
    width: 1500px;
    bottom: 0;
    top: auto;
  }
}
