* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #e5e5e5;
}

/* MOBILE */
.mobile {
  position: relative;
  width: 411px;
  height: 731px;
  background-color: #fff;
}

/*
NAVIGATION
*/
.navigation {
  position: absolute;
  width: 0px;
  height: 707px;
  right: -18px;
  top: -18px;
  background: #333333;
  z-index: 1;
  transition: ease 1s;
}

/* 
Status Bar
*/
.status-bar {
  position: absolute;
  width: inherit;
  background-color: #000;
  height: 24px;
  left: 0px;
  right: 0px;
  top: 0px;
}

.frame-8 {
  position: absolute;
  width: 88px;
  height: 18px;
  right: 2.36px;
  top: 2px;
}
.bluetooth {
  position: absolute;
  width: 5px;
  height: 10px;
  left: 19.86px;
  top: 4.5px;
}
.porcentagem {
  position: absolute;
  width: 25px;
  height: 15px;
  left: 29.86px;
  top: 2.5px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.bateria {
  position: absolute;
  width: 24.5px;
  height: 10px;
  left: 59.86px;
  top: 4.5px;
}

.frame6 {
  position: absolute;
  width: 120px;
  height: 16px;
  left: 2.64px;
  top: 4px;
}
.bolinhas {
  position: absolute;
  width: 33.5px;
  height: 5.5px;
  left: 6px;
  top: 9px;
}
.sinal {
  position: absolute;
  width: 12px;
  height: 9px;
  left: 48px;
  top: 7px;
}

.horas {
  position: absolute;
  width: 50px;
  height: 15px;
  left: calc(50% - 50px / 2 + 1px);
  top: 4.5px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

/* 
HEADER 
*/
.header {
  position: absolute;
  width: 411px;
  height: 60px;
  left: 0px;
  top: 24px;
  background: #e0e0e0;
}

.titulo {
  position: absolute;
  width: 411px;
  height: 43px;
  top: 9px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  color: #333333;
}

.logo {
  position: absolute;
  width: 30px;
  height: 27.63px;
  left: 22px;
  top: 15px;
}

.hamburguer {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 369px;
  top: 18px;
}
.hamburguer-imagem {
  position: initial;
  width: 23px;
  height: 22px;
  top: 5px;
  background: #e0e0e0;
  cursor: pointer;
}

/* 
MAIN 
*/
/* Main (acima) */
::-webkit-input-placeholder {
  position: absolute;
  width: 34px;
  font-weight: 400;
  font-size: 13px;
  height: 22px;
  left: 5px;
  line-height: 29px;
  color: #888;
}

.form-transacao {
  position: absolute;
  width: 371px;
  height: 290px;
  left: 20px;
  top: 110px;
  background-color: #fff;
}

.input-transacao {
  width: inherit;
  height: 57px;
}

.tipo-transacao {
  display: block;
  position: absolute;
  width: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333;
}
#tipo-select {
  position: absolute;
  width: inherit;
  background-color: #fff;
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 4px;
  height: 32px;
  top: 25px;
  color: #888888;
}

.input-mercadoria {
  width: inherit;
  height: 56.67px;
  position: absolute;
  top: 26.55%;
  bottom: 53.91%;
  left: 0%;
  right: 0%;
}

.tipo-mercadoria {
  display: block;
  width: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
#tipo_mercadoria {
  position: absolute;
  width: inherit;
  height: 32px;
  background-color: #fff;
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 4px;
  top: 24px;
}

.input-valor {
  width: inherit;
  position: absolute;
  height: 55px;
  top: 52.99%;
  bottom: 28.05%;
  left: 0%;
  right: 0%;
}

.tipo-valor {
  display: block;
  width: inherit;
  font-size: 14px;
  line-height: 22px;
  color: #333;
}
#tipo_valor {
  position: absolute;
  height: 32px;
  left: 0px;
  right: 0px;
  top: 24px;
  width: inherit;
  background: #fff;
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 4px;
}

.input-botao {
  position: absolute;
  width: inherit;
  left: 0%;
  right: 0%;
  top: 78.85%;
  bottom: 9.77%;
}

.input_botao {
  width: inherit;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #333333;
  border-radius: 4px;
  color: #fff;
  line-height: 22px;
  font-size: 14px;
  font-family: "inter";
}

hr {
  position: absolute;
  width: 371px;
  height: 0px;
  left: 0px;
  top: 290px;
  border: 1px solid #979797;
}

/* 
Main (abaixo) 
*/
.account-statement {
  position: absolute;
  width: 371px;
  height: 281px;
  left: 20px;
  top: 420px;
  background-color: #fff;
}

.extrato-transacao {
  position: absolute;
  width: 176px;
  height: 20px;
  left: 109px;
  top: 21px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.frame {
  position: absolute;
  width: 371px;
  height: 187px;
  left: 0px;
  top: 60px;
}

.extrato-mercadoria {
  position: absolute;
  width: 72px;
  height: 22px;
  left: 30px;
  top: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

.extrato-valor {
  position: absolute;
  width: 33px;
  height: 22px;
  left: 296px;
  top: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

.hr-main1 {
  position: absolute;
  width: 371px;
  height: 0px;
  left: 0px;
  top: 22px;
  border: 1px solid #979797;
}

.primeiro-lorem {
  position: absolute;
  width: 231px;
  height: 34px;
  left: 30px;
  top: 29px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.primeiro-sinal {
  position: absolute;
  width: 9px;
  height: 25.35px;
  left: 10px;
  top: 29px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.primeiro-valor {
  position: absolute;
  width: 98px;
  height: 41.83px;
  left: 263px;
  top: 29px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}

.hr-main2 {
  position: absolute;
  width: 371px;
  height: 0px;
  left: 0px;
  top: 70.94px;
  border: 1px solid #979797;
}

.segundo-lorem {
  position: absolute;
  width: 231px;
  height: 18px;
  left: 30px;
  top: 78px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.segundo-sinal {
  position: absolute;
  width: 9px;
  height: 25.35px;
  left: 10px;
  top: 78px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.segundo-valor {
  position: absolute;
  width: 98px;
  height: 18px;
  left: 263px;
  top: 78px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}

.hr-main3 {
  position: absolute;
  width: 371px;
  height: 0px;
  left: 0px;
  top: 104px;
  border: 1px solid #979797;
}

.terceiro-lorem {
  position: absolute;
  width: 231px;
  height: 18px;
  left: 30px;
  top: 111px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.terceiro-sinal {
  position: absolute;
  width: 9px;
  height: 25.35px;
  left: 10px;
  top: 111px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.terceiro-valor {
  position: absolute;
  width: 98px;
  height: 18px;
  left: 263px;
  top: 111px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}

.hr-main4 {
  position: absolute;
  width: 371px;
  height: 0px;
  left: 0px;
  top: 137px;
  border: 0.9px solid #979797;
}

.hr-main5 {
  position: absolute;
  width: 371px;
  height: 0px;
  left: 0px;
  top: 140px;
  border: 0.9px solid #979797;
}

.total {
  position: absolute;
  width: 72px;
  height: 18px;
  left: 30px;
  top: 151px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.total-valor {
  position: absolute;
  width: 98px;
  height: 18px;
  left: 263px;
  top: 151px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}

.lucro {
  position: absolute;
  width: 98px;
  height: 18px;
  left: 263px;
  top: 169px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 22px;
  text-align: right;
}

/*
NAVIGATION
*/
.hamburguer:hover .navigation {
  display: block;
  width: 351px;
}

/* 
FOOTER 
*/
footer {
  position: absolute;
  background-color: #333;
  width: 100%;
  height: 8px;
  left: 0px;
  top: 723px;
  font-size: 1em;
}
