/* tablet landscape */

@media screen and (min-width: 1112px) and (orientation: landscape) {
  /* 
  Mobile 
  */
  .mobile {
    width: 1112px;
    height: 834px;
  }

  /* 
HEADER 
*/
  .header {
    height: 80px;
  }
  .logo {
    width: 40px;
    height: 36.84px;
    top: 22px;
  }
  .titulo {
    left: 82px;
    top: 19px;
    line-height: 24px;
    display: flex;
  }

  /*
NAVIGATION
*/
  .hamburguer,
  .hamburguer-imagem,
  .vector-x {
    visibility: hidden;
    filter: none;
  }

  .navigation {
    position: absolute;
    width: 350px;
    height: 40px;
    left: 16px;
    top: 2px;
    opacity: 1;
    visibility: visible;
    background-color: #fff;
  }

  .line1 {
    position: absolute;
    width: 20px;
    height: 0px;
    left: 199px;
    top: 20px;
    border: 1px solid #979797;
    transform: rotate(90deg);
  }

  .cadastro-transacoes {
    color: #333;
    width: 165px;
    height: 32px;
    left: 25px;
    top: 4px;
  }

  .limpar-dados {
    color: #333;
    width: 95px;
    height: 32px;
    left: 229px;
    top: 4px;
  }

  /* 
MAIN 
*/
  /* Main (acima) */
  .form-transacao {
    width: 400px;
    height: 344px;
    left: 20px;
    top: 130px;
  }

  .retangulo-tablet {
    width: 400px;
    height: 344px;
    left: calc(50% - 400px / 2);
    top: calc(50% - 344px / 2);
  }

  .nova-transacao {
    top: calc(50% - 20px / 2 - 142px);
  }

  .input-botao,
  .input-mercadoria,
  .input-transacao,
  .input-valor {
    width: 370.2px;
    height: 57px;
  }

  .input-transacao {
    left: 3.72%;
    right: 3.72%;
    top: 17.73%;
    bottom: 65.7%;
  }

  .input-mercadoria {
    left: 3.72%;
    right: 3.72%;
    top: 40.12%;
    bottom: 43.31%;
  }

  .input-valor {
    left: 3.72%;
    right: 3.72%;
    top: 62.5%;
    bottom: 21.51%;
  }

  .input-botao {
    left: 3.72%;
    right: 3.72%;
    top: 84.59%;
    bottom: 5.81%;
  }

  /* 
Main (abaixo) 
*/
  .account-statement {
    width: 652px;
    height: 281px;
    left: 440px;
    top: 130px;
  }

  .extrato-transacao {
    left: 239px;
  }

  .frame {
    width: 652px;
  }

  .extrato-mercadoria {
      left: 40px;
  }

  .extrato-valor {
      left: 599px;
  }

  .hr-main1 {
      width: 652px;
  }

  .primeiro-lorem {
      left: 40px;
  }

  .primeiro-sinal {
      left: 20px;
  }

  .primeiro-valor {
      left: 534px;
  }

  
}
